.add-product-form-section {
  background-color: #1a1a1a; /* Fundal întunecat pentru secțiune */
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; /* Ajustează la dimensiunea dorită */
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adaugă o umbră ușoară pentru a ridica formularul deasupra fundalului */
  color: #fff; /* Text alb pentru contrast */
}

.add-product-form-section form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spațiere între câmpuri */
}

.add-product-form-section label {
  margin-bottom: 5px; /* Spațiere sub etichetă */
}

.add-product-form-section input[type="text"],
.add-product-form-section input[type="number"],
.add-product-form-section select {
  padding: 10px;
  border: none;
  border-radius: 5px; /* Border rotunjit */
  background-color: #333; /* Fundal mai deschis pentru inputuri */
  color: #fff; /* Text alb pentru inputuri */
  font-size: 1em;
}

.add-product-form-section input[type="text"]:focus,
.add-product-form-section input[type="number"]:focus,
.add-product-form-section select:focus {
  outline: 2px solid #04AA6D; /* Evidențiază câmpul activ */
}

.add-product-form-section .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #04AA6D; /* Culoare verde pentru buton */
  color: #fff;
  text-transform: uppercase; /* Textul butonului să fie cu majuscule */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; /* Animatie de culoare pentru buton */
}

.add-product-form-section .btn:hover {
  background-color: #037d53; /* Schimbă culoarea butonului la hover */
}
