/* ========== google fonts ============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



:root {
  --light: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bx{
  font-size: 1.7rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

html{
  overflow-x: hidden;
}

body.dark{
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb
}

body{
  background: var(--grey);
  overflow-x: hidden;
}


.content{
  transition: all 0.3s ease;
}


.content main{
  width: 80%;
  padding: 36px 24px;
  margin: 0 auto;
  max-height: calc(100vh - 56px);
}

.content main .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.content main .insights{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 24px;
  margin-top: 16px;
}

.content main .insights li{
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  grid-gap: 4px;
  cursor: pointer;
}

.content main .insights li span {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content main .insights li .bx{
  width: 90px;
  height: 90px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .insights li:nth-child(1) .bx, .active-discount {
  background: var(--light-primary);
  color: var(--primary);
}

.content main .insights li:nth-child(2) .bx, .expired-discount {
  background: var(--light-warning);
  color: var(--warning);
}

.content main .insights li:nth-child(3) .bx, .future-discount {
  background: var(--light-success);
  color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
  background: var(--light-danger);
  color: var(--danger);
}

.content main .insights li .info h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}

.content main .insights li .info p{
  color: var(--dark);
}

.add-discount {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.create-discount {
  padding: 16px 36px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #1976D2;
  border: none;
  border-radius: 8px;
}

.create-discount:hover {
  background-color: #2385e7;
  cursor: pointer;
}

.content main .bottom-data{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.content main .bottom-data>div{
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.content main .bottom-data .header{
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.content main .bottom-data .header h3{
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.content main .bottom-data .header .bx{
  cursor: pointer;
}

.content main .bottom-data .orders{
  flex-grow: 1;
  flex-basis: 500px;
}

.content main .bottom-data .orders table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.content main .bottom-data .orders table th{
  padding-bottom: 12px;
  font-size: 13px;
  border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
  padding: 16px 0;
}

.content main .bottom-data .orders table tbody tr{
  cursor: pointer;
  transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
  background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

.edit-btn:hover {
  color: #1976D2;
}

.delete-btn:hover {
  color: #D32F2F;
}

.info-btn:hover {
  color: #07960e;
}

.insight-btn {
  margin-top: 5px;
  font-size: 18px;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.edit-discount-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 80%; 
  max-width: 400px; 
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  z-index: 1000;
}



.edit-discount-popup h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.edit-discount-popup label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.edit-discount-popup textarea,
.edit-discount-popup input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-btn {
  text-align: center;
}

.edit-discount-popup button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


.edit-changes-btn {
  background: var(--light-primary);
  color: var(--primary);
}

.close-changes-btn {
  background: var(--light-warning);
  color: var(--warning);
}

.edit-discount-popup button:hover {
  opacity: 0.9;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}



.modal {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 400px; 
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  z-index: 1000;
  display: none;
  box-sizing: border-box; 
}

.modal-content {
  text-align: center; 
}

.close {
  float: right; 
  font-size: 1.5em; 
  cursor: pointer;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 1.2em; 
  color: #333; 
}

.modal-content button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; 
  transition: opacity 0.3s; 
}

#abandon-delete {
  background-color: var(--success);
  color: var(--light-success);
}

#confirm-delete {
  background-color: var(--danger);
  color: white;
}

.modal-content button:hover {
  opacity: 0.9;
}



.info-discount-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  display: none; 
  box-sizing: border-box;
  text-align: center;
}

.info-discount-popup h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.info-discount-popup label {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left; 
  display: inline-block; 
  width: 100%;
}

.info-discount-popup p,
.info-discount-popup span {
  margin-bottom: 20px;
  padding: 10px;
  display: block; 
  text-align: left; 
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.info-btn .close-info-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffc107; 
  color: white;
  border: none;
  font-size: 1em;
  margin-top: 20px; 
  width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.info-btn .close-info-btn:hover {
  background-color: #e0a800; 
  opacity: 1; 
}
